<div class="body">
  <div class="office-map">
    <div class="logo-menu" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="200px">
      <div class="logo-name" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlex="80">
        <img src='../../../assets/images/logo.png' alt='image'>
        <h1>DeskBook</h1>
      </div>
      <div class="menu">
        <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home" (click)="onHomeClick()"></mat-icon>
      </div>
    </div>
    <div class="day-selection" fxLayout="column" fxLayoutAlign="start center">
      <h1>Welcome back!</h1>
      <h3>When you select the day you want to book a desk, a map with the available desks will appear.</h3>
      <mat-form-field appearance="fill" class = "input-day">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="getDate(selectedDate)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <div class="history" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button (click)="onSeeDeskBookingsClick()">See your desk bookings</button>
      </div>
      <div class="map-booking" fxLayout="row" fxLayoutAlign="center center">
        <div
          *ngIf="desks && (selectedDate >= dateNow || transformDateToStringWithoutTime(dateNow) === transformDateToStringWithoutTime(selectedDate))"
          class="grid-container">
          <ng-container *ngFor="let desk of desks; let i = index">
            <div class="grid-item" [ngClass]="'item-' + (i+1)">
              <button class="button" mat-button (click)="openDialog(desk,selectedDate)" [ngClass]="{
            'positive' : desk.fullyBooked == 1,
            'negative' : desk.fullyBooked == 0,
            'mixt' : desk.fullyBooked == 2
        }">{{desks!.at(i)!.name}}</button>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="selectedDate < dateNow && transformDateToStringWithoutTime(dateNow) != transformDateToStringWithoutTime(selectedDate)">
          Choose a correct date!
        </div>
      </div>
    </div>
  </div>
  <div class="empty"></div>
</div>


