<div class="body" fxLayout="column" fxLayoutAlign="start center">
  <div class="home" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="60px" fxFlex="95">
    <div class="menu" fxFlex="15">
      <div class="intro" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo-name" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlex="80">
          <img src='../../assets/images/logo.png' alt='image'>
          <h1>DeskBook</h1>
        </div>
        <div class="options" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="60px">
          <button mat-raised-button (click)="onSignUpClick()">Register</button>
          <button mat-raised-button (click)="onLoginClick()">Login</button>
        </div>
      </div>
    </div>

    <div class="welcome" fxFlex="8">
      <h1>Welcome to DeskBook</h1>
    </div>
    <div class="description" fxLayout="column" fxLayoutAlign="start center">
      <p class = "title">Book a desk at your workplace!</p>
      <p class = "info">We are here to make your work life easier. Do you want to work without interruptions in the workflow? Do you want to avoid not finding an office where you can work? To achieve this, reserve an office in advance. This is the best way to manage shared workspaces. </p>
    </div>
  </div>
  <footer class="contact-info">
    <div class="mail" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
      <mat-icon> mail_outline</mat-icon>
      <p>deskbook@yahoo.com</p>
    </div>
    <div class="telephone" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
      <mat-icon>phone_in_talk</mat-icon>
      <p>0730398038</p>
    </div>
  </footer>
</div>
